.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex:1;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header::-webkit-scrollbar {
  display: none;
  scrollbar-width: 1px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.calendar-block-container{
  background-image: url(./assets/calendar-block.jpg);
  border-radius: 0 0 15px 15px;
  padding: 20px 0 10px;
}

.stage-button{
  height:40px;
  transition: ease-in 0.15s;
}

.targets-container {
  /* transition: height 3s ease-in-out; */
  animation: fadein 1s;

}

.target-animation {
  transition: all 1s ease-out;
  animation: fadein 0.5s;
  /* transition: max-height 0.25s ease-in; */
}

.tasks-display-none {
  display: none;
  /* height: 0; */
  transition: all 1s ease-out;
}

/* .tasks-display {
  transition: all 1s ease-out;
  height: auto;
  animation: fadein 1s;
} */


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}